!!! 5
%html
  %head
    %title Недвижимость в Екатеринбурге
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body
    .row
      .large-12.columns
        = yield
    = javascript_include_tag 'application'
